<div id="feedback-bar" data-module="feedback-bar">
    <div class="feedback-bar-inner">
        <div id="feedback-bar-close" >
            <i class="fa fa-remove-circle"></i>
        </div>

        <div class="left">
            <div>
                <p>You are viewing a beta release of the Natural History Museum's Data Portal.</p>
                <p>We'd love to know what you think!</p>
                <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSe-YbqogD4nZQUDo8pWuTsZzE8Pi3a9Qq-6_pVuSIfxgtPAAA/viewform" target="_blank">Send feedback</a></p></p>
            </div>
        </div>

        <div class="right">
            <i class="fa fa-comment"></i>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe-YbqogD4nZQUDo8pWuTsZzE8Pi3a9Qq-6_pVuSIfxgtPAAA/viewform" target="_blank">
                FEEDBACK
            </a>
        </div>
    </div>
</div>

{% resource 'ckanext-feedback/main' %}