<div id="feedback-bar" data-module="feedback-bar">
    <div class="container">
        <div class="row">
            <div class="span11">
                <p>
                    You're viewing a beta release of the Natural History Museum's Data Portal. We'd love to know what you think!
                    <a href="https://www.surveymonkey.com/s/9DXPLWJ" target="_blank">Send feedback</a>
                </p>
            </div>
            <div class="span1">
                <a href="#" class="feedback-close" title="Close feedback bar">
                    <i class="icon-remove"></i>
                    <span class="sr-only">Close</span>
                </a>
            </div>
        </div>
    </div>
</div>

{% resource 'ckanext-feedback/main' %}