{% extends "page.html" %}

{% block breadcrumb_content %}
    {{ super() }}
  <li><a href="{{ h.url_for('feedback_form') }}">Feedback</a></li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">Feedback</h1>

        <p>We're releasing this <strong>private beta</strong> of the Data Portal to get your feedback - it's not visible outside of the Museum.</p>
        <p>It is not the finished product, and still under active development. We wanted to release early to collect your feedback, so we can improve it. We plan to have a public launch <strong>December 2014.</strong></p>
        <p>We are still building new features - please see the <a href="{{ h.url_for('roadmap') }}">Development roadmap</a> for more info.</p>
        <p>If you have an idea of what we we should be doing or find a bug, please use this form to tell us about it, or email <a href="mailto:data@nhm.ac.uk">data@nhm.ac.uk</a>.</p>
        <p>Please submit feedback by <strong>30th September 2014</strong>.</p>

        {% block contact_form %}
            {% include "feedback/snippets/form.html" %}
        {% endblock %}

    </div>
  </article>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('Roadmap') }}
  </h2>
  <div class="module-content">
    <p>
      Have a look what features have been developed, and what we're planning for the future.
    </p>
    <p><a class="read-more" href="{{ h.url_for('roadmap') }}">Roadmap <i class="icon-circle-arrow-right"></i></a></p>
  </div>
</div>
{% endblock %}